/*
 * Base structure
 */
html,
body {
	height: 100%;
}

body {
	padding-top: 56px;
	padding-left: 0;
}

/*
 * main layout
 */
.layout-main {
	display: flex;
	min-height: calc(100vh - 52px);
	overflow: hidden;
}

/*
 * Content
 */
select {
	width: 200px;
	/* Ajuste a largura conforme necessário */
	padding: 10px;
	/* Ajuste o preenchimento conforme necessário */
	font-size: 14px;
	/* Ajuste o tamanho da fonte conforme necessário */
	border: 1px solid #ccc;
	/* Adicione uma borda para visualização */
	border-radius: 5px;
	/* Adicione bordas arredondadas */
	background-color: #fff;
	/* Cor de fundo */
	color: #333;
	/* Cor do texto */
}

/* Estilo para as opções */
select option {
	padding: 10px;
	/* Ajuste o preenchimento conforme necessário */
	font-size: 14px;
	/* Ajuste o tamanho da fonte conforme necessário */
	background-color: #fff;
	/* Cor de fundo */
	color: #333;
	/* Cor do texto */
}


table {
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	padding: 5px 15px;
	/* Ajuste o valor conforme necessário para o espaçamento desejado */
	text-align: left;
	/* Alinhe o texto à esquerda, se preferir */
}

.layout-content {
	width: 100%;
	padding-top: 0px;
}

.container {
	width: 100%;
	padding-top: 20px;
	text-align: center;
}

/*
 * Sidebar
 */
.sidebar {
	width: 0px;
	height: 100vh;
	border-top: 1px solid #eee;
	border-right: 1px solid #eee;
	background-color: #f8f9fa;
	flex-shrink: 0;
	overflow: hidden;
	transition: width .5s;
}

.sidebar .nav {
	margin-bottom: 0px;
}

.sidebar .nav-item {
	width: 100%;
}

.sidebar .nav-item {
	margin-left: 0;
}

.sidebar .nav-link {
	border-radius: 0;
}

.sidebar ul li:hover a,
.menu ul li.active a {
	color: #777777;
}

.sidebar ul {
	list-style: none;
	padding: 10px 0px;
}

.sidebar ul li a {
	display: block;
	color: #1a1a1a;
	padding: 10px 15px;
	white-space: nowrap;
}

.sidebar.sidebar-open {
	width: 300px;
}

/*
 * nav-pills home
 */
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
	color: #fff;
	background-color: #1e94d2;
}

/*
 * toogle do navbar do menu
 */

.navbar-toggle {
	display: inline-block;
	margin-left: 10px;
}

/*
 * Footer
 */
.layout-footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	height: 50px;
	border-top: 1px solid #eeeeee;
}

.footer-copy {
	font-size: 92%;
	display: block;
	color: #777777;
	text-align: center;
}

.login-form {
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #1e94d2;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0f7dc1;
}