<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <!-- Bootstrap core CSS -->
	<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet" />
	<!-- Custom styles for this template -->
	<link href="/css/style.css" rel="stylesheet" />
</head>

<body>
    <div class="layout-main">
        <div class="layout-content">
            <div class="container-centered">
                <div class="signup-form">
                    <h2>Cadastro de Usuário</h2>
                    <form th:action="@{/signup}" method="post" th:object="${user}">
                        <input type="text" id="login" name="login" placeholder="Login" th:field="*{login}" required>
                        <input type="password" id="password" name="password" placeholder="Senha" th:field="*{password}" required>
                        <button type="submit">Cadastrar</button>
                        <p><a th:href="@{/login}">Voltar</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="~{fragments/footer :: footer}"> </footer>
</body>

</html>